<!DOCTYPE html>
<html>
<head>
  <title>Sphinx Manager</title>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1>Sphinx Manager</h1>
    <p>Tools for employee managment and scheduling</p>
    <a type="button" class="btn btn-lg btn-primary" href="/sphinxhome"></span>Return to Home</a>    <a type="button" class="btn btn-lg btn-primary" href="/employees"></span>Manage Employees</a>
  </div>
</div>

<div class="container">
   <div class="row">
    <div id="employeeTable" class="col-md-12">
      <table>
        <form action="/addToShift" method="POST">
          <button class="btn btn-md btn-default" name="add"
          value="add"><span class="glyphicon glyphicon-flash"></span>Add to Shift</button> 
          <button class="btn btn-md btn-default" name="del"
          value="del"><span class="glyphicon glyphicon-flash"></span>Remove from Shift</button> 
        <tr>
          <th>Select</th>
          <th>Employee Name</th>
          <th>Position</th>
        </tr>
        <% empList.forEach(function(r) { %>
          <tr>
          <td><input type="radio" name="empID" value="<%= r.id%>"/></td>
          <td><%= r.username %></td>
          <td><%= r.job %></td>
          </tr>
      <% }); %>
      <input type="hidden" name="shifts" value="<%= shifts %>"/>
    </form>
      </table>
    </div>
    </div> <!--End Row-->
</div>

</body>
</html>