<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>404: That page can't be found</h1>
    <p>Please try one of these other options.</p>
    <a type="button" class="btn btn-lg btn-default" href="/db"><span class="glyphicon glyphicon-flash"></span>Current Project</a>
    <a type="button" class="btn btn-lg btn-primary" href="/"></span>Home</a>
  </div>
</div>
  </div> <!-- row -->
    <% include ../partials/footer.ejs %>
</div>


</body>
</html>
