<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Project Index -  CS 313: Web Engineering II</h1>
    <p>This is the student project directory of Alice S.<br/>
       made with NodeJS, Express, and the CSS Bootstrap framework.</p>
    <a type="button" class="btn btn-lg btn-default" href="/html/prove09.html"><span class="glyphicon glyphicon-flash"></span>Current Project</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://evening-atoll-20179.herokuapp.com/"></span>PHP projects</a>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span>Assignments List</h3>
      <ul>
        <li><a href="/html/prove09.html">Postal Rate Calculator</a></li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Project Links</h3>
      <ul>
        <li><a href="/html/prove09.html">Postal Rate Calculator</a></li>
      </ul>
    </div>
  </div> <!-- row -->
    <hr/>
    <% include ../partials/footer.ejs %>
</div>


</body>
</html>
