<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <p>The total price to send your mail is: $<%= rate.rate %></p>
    <a type="button" class="btn btn-lg btn-default" href="/html/prove09.html"><span class="glyphicon glyphicon-flash"></span>Postage Calculator</a>
    <a type="button" class="btn btn-lg btn-primary" href="/"></span>Home</a>
  </div>
</div>
<div class="container">
    <% include ../partials/footer.ejs %>
</div>


</body>
</html>