<!DOCTYPE html>
<html>
<head>
    <title>Sphinx Manager</title>
  <% include ../partials/header.ejs %>
</head>
<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Sphinx Manager</h1>
    <p>Tools for employee managment and scheduling</p>
    <button class="btn btn-lg btn-default" data-toggle="collapse" data-target="#changeForm"><span class="glyphicon glyphicon-flash"></span>Change Shedule</button>
    <a type="button" class="btn btn-lg btn-primary" href="/employees"></span>Manage Employees</a>
  </div>
</div>
<div class="container">
  <h1>Shedule</h1>
  <p><i>Currently under construction - some functionality is broken</i></p>
  <div class="row">
    <div id="employeeTable" class="col-md-6">
      <table>
        <tr>
          <th>Employee Name</th>
          <th>Position</th>
          <th>Day</th>
          <th>Shift</th>
        </tr>
        <% results.forEach(function(r) { %>
          <tr>
          <td><%= r.username %></td>
          <td><%= r.job %></td>
          <td><%= r.to_char%></td>
          <td><%= r.shift%></td>
          </tr>
      <% }); %>
      </table>
    </div>
    </div> <!--End Row-->
  <div class="row">
    <div id="changeForm" class="collapse"><hr/>
      <button class="btn btn-md btn-primary" onclick="editShift()">Add Employee to Shift</button>
      <button class="btn btn-md btn-primary" data-toggle="collapse" data-target="#changeForm">Add New Shift</button>
    </div>
    <div id="display"></div>
    <div id="newShift" class="collapse"><% include ../partials/newShift.ejs %>
    </div>
    </div>
    <% include ../partials/footer.ejs %>
</div>


<script>
    function editShift() {
    console.log("This is editSchedule");
      $.get("/changeShift",
      function(data, status){
        console.log(data);
      $('#display').html(data);
    });
}
  </script>
</body>
</html>